@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-family: "Roboto", sans-serif;
    --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --gray-color: #f5f5f5;
    --blue-color: #5595E9;
    --blue-color2: #eaf2fd;
    --black-color: #000000;
    --white-color: #ffffff;
    --blue-color3: #2a7ae4;
    --red-color: #ff0055;
    --cinza-claro: #c0bebe;
    --item-active: #C78C19;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-family);
    background-color: var(--gray-color);
}

/* genericos */

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.1rem;
}
p {
    font-size: 0.85rem;
}
a {
    text-decoration: none;
    color: var(--blue-color);
}
a:visited {
    color: var(--blue-color);
}
ul {
    list-style: none;
}
.titulo {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.7);
}
.container {
    width: 90vw;
    margin: 0 auto;
    max-width: 1200px;
}
.btn {
    width: 133px;
    height: 40px;
    border: 1px solid var(--black-color);
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 300ms;
}
.btn:hover {
    background-color: var(--blue-color3) !important;
    color: var(--white-color) !important;
    border-color: var(--blue-color3) !important;
}

form,
textarea,
input,
img {
    transition: all 500ms;
}
.bold {
    font-weight: bold;
}
/* end genericos */

/* topo -- em comum em todas as abas */
.logo {
    width: 100px;
    margin-right: 2rem;
}
.topo {
    background-color: var(--white-color);
    box-shadow: var(--shadow);
}

.topo .container {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
.container-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-input div {
    display: flex;
    position: relative;
    align-items: center;
    background-color: transparent;
}
.container-input div button {
    position: absolute;
    right: 0rem;
    background-color: transparent;
    border: transparent;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.container-input div input {
    height: 40px;
    width: 0;
    border-radius: 20px;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
}
.login-btn {
    border-color: var(--blue-color);
    color: var(--blue-color);
    background-color: var(--white-color);
}
/* end topo */

/* footer -- em comum em todas as abas */

.info-contato {
    background-color: var(--blue-color2);
    padding: 1rem 0;
}

/* list */
.container-info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-info-list * {
    margin-bottom: 1rem;
}
.container-info-list ul li {
    text-align: center;
}
.container-info-list ul li a {
    color: rgba(0, 0, 0, 0.8);
}
/* end list */

/* input */
.container-info-form p {
    margin-bottom: 0.5rem;
}

form div.single-input {
    position: relative;
    height: 56px;
    display: flex;
    align-items: flex-end;
    background-color: var(--white-color);
    margin-bottom: 0.7rem;
}

.single-input label {
    position: absolute;
    left: 10px;
    bottom: 17px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    transition: all 150ms;
}
.single-input input {
    width: 100%;
    height: 70%;
    outline: none;
    border: none;
    padding: 0 10px;
    font-size: 1.1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.single-input input:hover,
.container-info-form form textarea:hover {
    border-color: var(--blue-color);
}
.container-info-form form textarea {
    width: 100%;
    height: 85px;
    padding: 14px 10px;
    outline: none;
    border: none;
    resize: none;
    font-size: 1.1rem;
    letter-spacing: 0.1px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
}
.container-info-form form textarea::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--font-family);
}

.single-input input:focus ~ label,
.single-input input:valid ~ label {
    transform: translateY(-19px);
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.3);
}

.container-info-form form button {
    background-color: var(--blue-color);
    border: 2px solid var(--blue-color);
    color: var(--white-color);
}

/* end input */

.rodape {
    text-align: center;
    padding: 1.5rem;
    background-color: var(--white-color);
}
.rodape p {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0.25rem;
}
.rodape div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.rodape div a {
    font-size: 1.5rem;
    transition: all 500ms;
}
.rodape div a:hover {
    transform: scale(1.2);
    color: var(--blue-color3);
}
/* end footer */

@media screen and (min-width: 503px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.15rem;
    }

    /* topo */
    .container-input div {
        order: -1;
    }
    .container-input div input {
        width: 34vw;
        max-width: 384px;
        background-color: var(--gray-color);
    }
    .container-input div button {
        color: rgba(0, 0, 0, 0.7);
        background-color: var(--gray-color);
        border: 1px solid var(--gray-color);
        border-radius: 0 20px 20px 0;
    }
    /* end topo */

    /* footer */
    .info-contato {
        padding: 2rem 0;
    }

    .info-contato .container {
        display: flex;
    }
    .container-info-list {
        width: 40%;
        margin-right: 1rem;
        align-items: flex-start;
    }
    .container-info-list ul li {
        text-align: inherit;
    }
    .container-info-form {
        width: 60%;
        padding: 0.78rem 0;
    }
}

@media screen and (min-width: 1006px) {
    .logo {
        width: 176px;
        height: 50px;
    }

    .info-contato {
        padding: 3rem 0;
    }
    .container-section-items {
        margin-top: 2.5rem;
    }

    .info-contato .container {
        justify-content: space-between;
    }

    .container-info-list {
        margin-right: 1rem;
        flex-direction: row;

        justify-content: space-between;
    }
    .container-info-form {
        width: 50%;
        padding: 0;
    }
}